/* --------------START-CARD-------------------- */
.cart {
  width: 353px;
  height: 490px;
  background-color: white;
  /* border: 1px solid rgba(0, 0,0, 0.1);  */
}
.cart > img {
  width: 353px;
  text-align: center;
  transition: 1s;
}

.cart > img:hover {
  transform: scale(0.9);
}
.cardPrice{
  margin-top: -10px;
}
/* .alert {
  transition: 0.7s;
  height: 100px;
  margin-top: -25px;
}
.alert:hover {
  margin-top: -30px;
  transition: 0.7s;
} */
.shop-btn {
  margin: 5px 15px 0 0;
  border-radius: 30px;
  height: 40px;
  border: none;
  background-color: white;
  z-index: 20;
}
.shoppingCart {
  width: 20px;
}
.price-shop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -17px;
}
.infoMore{
  border: none;
  background-color: white;
  cursor: pointer;
}
.cardTitle{
  margin-top: -13px;
}

/* --------------END-CARD-------------------- */
