/* --------------START-CARD-------------------- */
.cart {
  width: 353px;
  height: 490px;
  background-color: white;
  margin: 30px;
}
.cart > img {
  width: 353px;
  text-align: center;
  transition: 1s;
}

.cart > img:hover {
  transform: scale(0.9);
}
/* .shop-btn {
  margin: 5px 15px 0 0;
  border-radius: 30px;
  height: 40px;
  border: none;
  cursor: pointer;
} */
/* .shoppingCart {
  width: 20px;
} */
.price-shop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -7px;
}
.infoMore{
  border: none;
  background-color: white;
  cursor: pointer;
}

/* --------------END-CARD-------------------- */
