/* --------------START-CARD-------------------- */
.cart {
  width: 392px;
  height: 530px;
  background-color: white;
  border: 3px solid white;
}
.cart > img {
  width: 392px;
  text-align: center;
}
h3,
.alert > p {
  color: black;
}
h3 {
  margin-bottom: -20px;
}
.alert {
  transition: 0.7s;
  height: 100px;
  margin-top: -25px;
}
.alert:hover {
  margin-top: -30px;
  transition: 0.7s;
}
.shop-btn {
  margin: 5px 15px 0 0;
  border-radius: 30px;
  height: 40px;
  border: none;
  background-color: white;
}
.shoppingCart {
  width: 20px;
}
.price-shop {
  display: flex;
  justify-content: space-between;
}
/* --------------END-CARD-------------------- */
