@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "M PLUS 1p", sans-serif;
}
.header {
  background-color: rgba(0, 0, 0, 0.5);
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.left-side {
  display: flex;
  align-items: center;
}
.right-side {
  display: flex;
  align-items: center;
}
.icon {
  display: flex;
  align-items: center;
}
.main-header {
  display: flex;
  justify-content: space-between;
}
h5 {
  margin-right: 20px;
  font-size: 16px;
}
a {
  color: white;
  text-decoration: none;
}
i {
  color: white;
  margin-right: 7px;
}
.mid {
  margin-left: 100px;
}
.mid > img {
  width: 100px;
}
h2 {
  color: white;
  text-align: center;
  margin-top: -20px;
  font-family: "Times New Roman", Times, serif;
}
/* ---------------START-VIDEO-------------------- */
.fullscreen-bg {
  overflow: hidden;
  z-index: -100;
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 45%;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -100;
}
.content {
  padding: 16px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 102px;
}
.main-video {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 620px;
}
/* ---------------END-VIDEO-------------------- */
