.wraper {
  width: 100%;
  display: flex;
  font-size: 20px;
}
h1 {
  font-size: 50px;
}
.main-left {
  width: 70%;
  margin-left: 35px;
}
.main-box {
  text-align: center;
}
.main-box > img {
  width: 500px;
  border-radius: 20px;
  transition: 1s;
}
.box-desc {
  text-align: left;
}

.details_btns {
  display: flex;
  justify-content: center;
  width: 800px;
  margin-top: 50px;
}
.details_btns button {
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  border: none;
  margin-right: 30px;
  background: none;
  cursor: pointer;
}
.details_btns img {
  width: 30px;
}

.edit-textareas {
  display: flex;
  flex-direction: column;
}

.edit-textareas textarea {
  margin: 20px 0;
}
